/*Back style*/
body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  padding-top:10em;
    /*Split screen*/
  background-image: linear-gradient(to bottom, #ce3635, #ce3635 70%, white 30%, white);
  background-size: cover;
  background-repeat: no-repeat;
}

* { color:#fff; text-decoration: none;}
/*Typewriter effect */
.typewriter h1 {
 overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
.typewriter {
    display: inline-flex;
}
/*Scrolling effect*/
.h2 {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ce3635;
}

/* The progress container */
.progress-container {
  width: 100%;
  height: 8px;
  background:#ce3635;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #6356ce;
  width: 0%;
}
/*Contact me button*/
a.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Lato',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:right;
 transition: all 0.2s;
}
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 a.button1{
  display:block;
  margin:0.4em auto;
 }
}
